:root {
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  /* Colors */
  --primary-cl: 17 17 17;
  --secondary-cl: 76 76 76;
  --accent-cl: 253 146 34;
  --light-cl: 250 250 250;
  --dark-cl: 30 24 35;
  --white-cl: 255 255 255;
  --beige-cl: 252 241 224;
  /* Others */
  --items: 4;
  --col-indent: 32px;
  --row-indent: var(--col-indent);
}

/* #region Base styles */
body {
  font-family: var(--primary-font);
  font-size: 14px;
  color: rgb(var(--primary-cl));
  background: rgb(var(--light-cl));
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
address {
  font-style: normal;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Common */
.container {
  width: 1168px;
  padding: 0 16px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
.ingredients,
.made,
.products,
.bestsellers,
.reviews {
  padding: 60px 0;
}
.ingredients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  width: 412px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.accent {
  color: rgb(var(--accent-cl));
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
.btn {
  padding: 14px 40px;
  font-weight: 600;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
}
.btn-accent {
  color: rgb(var(--light-cl));
  background: rgb(var(--accent-cl));
}
.btn-light {
  color: rgb(var(--light-cl));
  border-color: rgb(var(--light-cl));
}
.btn-dark {
  font-size: 18px;
  border-color: rgb(var(--accent-cl));
}
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-indent);
  column-gap: var(--col-indent);
}
.card-set-item {
  width: calc((100% - var(--col-indent) * (var(--items) - 1)) / var(--items));
}

/* #endregion */

/* #region Logo */
.logo {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.logo-accent {
  font-style: italic;
}
.logo-icon {
}
/* #endregion */

/* #region Socials */
.socials {
  display: flex;
  align-items: center;
  gap: 14px;
}
.socials-item {
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.socials-icon {
}
/* #endregion */

/* #region Header */
.header {
}
.header .container {
  display: flex;
  align-items: center;
  gap: 90px;
}
.header-nav {
}
/* Navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-grow: 1;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-item {
}
.nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(var(--accent-cl));
}
.header-socials {
  /* margin-left: 90px; */
}
/* #endregion */

/* #region Hero*/
.hero {
  background: rgb(var(--primary-cl) / 40%);
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-list {
}
.hero-item {
}
.hero-link {
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-link-icon {
}
/* #endregion */

/* #region Benefits */
.benefits {
  padding: 50px 0;
  background: rgb(var(--dark-cl));
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  width: 308px;
}
.benefits-subtitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
}
.benefits-desc {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgb(var(--white-cl) / 70%);
}
/* #endregion */

/* #region ingredients */
.ingredients {
  padding-top: 120px;
}
.ingredients-title {
}
.ingredients-list {
}
.ingredients-item {
  padding: 28px 23px;
  border: 1px solid transparent;
  border-radius: 15px;
}
/* a * n + b */
.ingredients-item:nth-child(2n) {
  border-color: rgb(var(--accent-cl));
}
.ingredients-item:nth-child(4n + 1) {
  background-color: rgb(var(--accent-cl));
  color: rgb(var(--white-cl));
}
.ingredients-item:nth-child(4n + 3) {
  background-color: rgb(var(--dark-cl));
  color: rgb(var(--white-cl));
}
/* .ingredients-item:last-child {
  background-color: rgb(var(--secondary-cl));
} */
.ingredients-ill {
}
.ingredients-caption {
  margin-top: 36px;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-transform: uppercase;
  /* color: rgb(var(--primary-cl)); */
}
/* #endregion ingredients */
/* #region Made */
.made {
}
.made-title {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left {
  flex-shrink: 0;
  border-radius: 15px;
  overflow: hidden;
}
.made-img {
}
.made-caption {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-right {
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}
.made-list {
  /* display: flex;
  flex-direction: column;
  gap: 24px; */
}
/* .made-item {
  margin-bottom: 24px;
}
.made-item:last-child {
  margin-bottom: 0;
} */
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion Made */
/* #region Products */
.products {
}
.products-title {
}
.products-list {
  --row-indent: 24px;
  --col-indent: 18px;
}
.products-item {
  padding: 32px 20px;
  background: rgb(var(--white-cl));
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  text-align: center;
}
.products-ill {
}
.products-name {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
.products-type {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  color: rgb(var(--primary-cl) / 70%);
}
.products-price {
  padding: 8px 20px;
  font-weight: 600;
  background: rgb(var(--light-cl));
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
/* #endregion Products */
/* #region Bestsellers */
.bestsellers {
}
.bestsellers-title {
}
.bastsellers-list {
}
.bastsellers-item {
  background: rgb(var(--white-cl));
}
.bastsellers-img {
}
.bastsellers-desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
/* #endregion Bestsellers */
/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 92px;
}
.reviews-list {
  --items: 3;
  --col-indent: 28px;

  margin-bottom: 50px;
}
.reviews-item {
  padding: 24px;
  padding-top: 56px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: rgb(var(--white-cl));
}
.reviews-avatar {
  margin: 0 auto;
  margin-top: -106px;
}
.reviews-author {
  margin-top: 18px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  text-align: center;
  color: rgb(var(--primary-cl) / 70%);
}
.reviews-btn {
  display: block;
  margin: 0 auto;
}
/* #endregion Reviews */
/* #region Footer */
.footer {
  background: rgb(var(--dark-cl));
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: rgb(var(--white-cl));
}
.footer-caption {
  font-weight: 500;
  color: rgb(var(--white-cl));
}
.footer-socials {
}
.footer-address {
}
.address {
}
.address-list {
}
.address-item {
}
.address-link {
  text-align: center;
  color: rgb(var(--white-cl));
}
.address-link:hover,
.address-link:focus {
  color: rgb(var(--accent-cl));
}
.footer-nav {
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  line-height: 1.14;
  color: rgb(var(--white-cl));
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: rgb(var(--accent-cl));
}
/* #endregion Footer */
