.hide {
  display: none;
}
/* #region Variables */
:root {
  /* Fonts */
  --primary-font: 'Montserrat', sans-serif;
  /* Colors */
  --primary-cl: 17 17 17;
  --secondary-cl: 76 76 76;
  /* --accent-cl: 30, 144, 255; */
  --accent-cl: 253 146 34;
  --light-cl: 250 250 250;
  --dark-cl: 30 24 35;
  --white-cl: 255 255 255;
  --beige-cl: 252 241 224;
  /* Others */
  --items: 1;
  --col-indent: 32px;
  --row-indent: var(--col-indent);
  --modal-position: 10;
  --mobile-menu-position: 100;
  --notification-position: 1000;

  --anim-fast: 300ms ease-in-out;
  --anim-slow: 600ms ease-in-out;
}
/* #endregion */

/* #region Aminations */
@keyframes vertical-move {
  0% {
    transform: translateY(-120px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes horizontal-move {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes circle-rotate {
  0% {
    transform: translateX(-120px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes text-spring {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  2% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  5% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  8% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  11% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
/* #endregion */

/* #region Base styles */
body {
  font-family: var(--primary-font);
  font-size: 14px;
  color: rgb(var(--primary-cl));
  background: rgb(var(--light-cl));
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
address {
  font-style: normal;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Common */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;

  outline: 2px solid red;
  outline-offset: -2px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
    padding: 0 16px;
  }
}

.ingredients,
.made,
.products,
.bestsellers,
.reviews {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .ingredients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1168px) {
  .ingredients,
  .made,
  .products,
  .bestsellers,
  .reviews {
    padding: 60px 0;
  }
}
.ingredients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .ingredients-title,
  .made-title,
  .products-title,
  .bestsellers-title,
  .reviews-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}
.accent {
  color: rgb(var(--accent-cl));
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
.btn {
  padding: 14px 40px;
  font-weight: 600;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
}
.btn-accent {
  color: rgb(var(--light-cl));
  background: rgb(var(--accent-cl));
}
.btn-light {
  color: rgb(var(--light-cl));
  border-color: rgb(var(--light-cl));
}
.btn-dark {
  font-size: 18px;
  border-color: rgb(var(--accent-cl));
}
/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-indent);
  column-gap: var(--col-indent);
}
.card-set-item {
  width: calc((100% - var(--col-indent) * (var(--items) - 1)) / var(--items));
}
/* #endregion */

/* #region Logo */
.logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
}
@media only screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}
.logo-accent {
  font-style: italic;
}
@media only screen and (min-width: 1168px) {
  .logo-icon {
    width: 24px;
    height: 24px;
  }
}
/* #endregion */

/* #region Socials */
.socials {
  display: flex;
  align-items: center;
  gap: var(--icons-gap, 14px);
}
.socials-item {
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  color: var(--icon-cl);
  border-radius: 10px;
  border: 1px solid var(--frame-cl);
  background-color: var(--icon-bg-cl, transparent);

  transition: var(--anim-fast);
  transition-property: color;
}

.socials-link:hover,
.socials-link:focus {
  color: var(--icon-active-cl);
}
.socials-icon {
  fill: currentColor;
}
/* #endregion */

/* #region Header */
.header {
}
.header .container {
  display: flex;
  align-items: center;

  gap: 28px;
}
@media only screen and (min-width: 1168px) {
  .header .container {
    gap: 90px;
  }
}
.header-nav {
}
@media only screen and (min-width: 768px) {
  .header-menu-btn.menu-btn {
    display: none;
  }
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-grow: 1;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media only screen and (min-width: 1168px) {
  .nav-list {
    gap: 24px;
  }
}
.nav-item {
}
/* Normal state */
.nav-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: var(--anim-fast);
  transition-property: color, opacity, transform;
}
/* Activated state */
.nav-link:hover,
.nav-link:focus {
  color: rgb(var(--accent-cl));
}
.nav-link.active {
  color: rgb(var(--accent-cl));
}
.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(var(--accent-cl));
}

.header-socials {
  --icon-cl: rgb(var(--primary-cl));
  --icon-active-cl: rgb(var(--accent-cl));
  --frame-cl: rgb(var(--primary-cl) / 10%);
  /* --icon-size: 32px; */
}
@media only screen and (max-width: 767px) {
  .header-socials {
    display: none;
  }
}
/* #endregion */

/* #region Hero*/
.hero {
  padding-bottom: 80px;
}
.hero .container {
  padding: 40px;
  padding-top: 381px;
  border-radius: 30px;
  background: rgb(var(--primary-cl) / 40%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/hero/hero-bg_desk.jpg');
}
/*
* Standart srceen dpi = 96dpi
* Retina srceen 2x dpi = 192dpi
*/
@media (min-resolution: 192dpi) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_desk@2x.jpg');
  }
}
/* @media only screen and (min-width: 768px) {
  .hero .container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/hero/hero-bg_tab.jpg');
  }
  @media (min-resolution: 192dpi) {
    .hero .container {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url('../images/hero/hero-bg_tab@2x.jpg');
    }
  }
} */
.hero-title {
  width: 484px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;

  animation: vertical-move 600ms cubic-bezier(0, 0, 0.2, 1) 500ms both;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-list {
  display: flex;
  gap: 14px;
}
.hero-item {
}
.hero-link {
  display: flex;
  align-items: center;
  gap: 14px;

  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: rgb(var(--light-cl));

  transition: var(--anim-fast);
  transition-property: color;
}
.hero-link:hover,
.hero-link:focus {
  color: rgb(var(--accent-cl));
}
.hero-link-text {
  transform-origin: left center;
  animation: text-spring 300ms linear 2800ms both;
}
.hero-link-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: currentColor;

  animation: circle-rotate 600ms linear 2600ms both;
}
.hero-link-icon {
  fill: rgb(var(--accent-cl));

  transition: var(--anim-fast);
  transition-property: fill;
}
.hero-link:hover .hero-link-icon {
  fill: rgb(var(--light-cl));
}

.hero .btn {
  animation: horizontal-move 600ms cubic-bezier(0, 0, 0.2, 1) both;
}
.hero .btn-accent {
  animation-delay: 1100ms;
}
.hero .btn-light {
  animation-delay: 1700ms;
}
/* #endregion */

/* #region Benefits */
.benefits {
  padding: 20px 0;
  background: rgb(var(--dark-cl));
}
@media only screen and (min-width: 768px) {
  .benefits {
    padding: 50px 0;
  }
}
.benefits-list {
  display: flex;
  flex-direction: column;
  column-gap: 88px;
  row-gap: 20px;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 44px;
  }
}
@media only screen and (min-width: 1168px) {
  .benefits-list {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .benefits-item {
    position: relative;
    width: 308px;
  }
}
@media only screen and (min-width: 1168px) {
  .benefits-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: calc(50% - 62px);
    right: -45px;
    width: 1px;
    height: 124px;
    background: rgba(var(--light-cl) / 50%);
  }
}
.benefits-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  color: rgb(var(--accent-cl));
  border-radius: 50%;
  border: 1px solid rgb(var(--light-cl) / 50%);
}
.benefits-icon {
  fill: currentColor;
}
.benefits-subtitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: rgb(var(--white-cl));
}
.benefits-desc {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgb(var(--white-cl) / 70%);
}
/* #endregion */

/* #region Ingredients */
.ingredients {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .ingredients {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1168px) {
  .ingredients {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .ingredients-title {
    max-width: 283px;
  }
}
.ingredients-list {
  --row-indent: 20px;
}
@media only screen and (min-width: 768px) {
  .ingredients-list {
    --items: 2;
    --row-indent: 32px;
    --col-indent: 32px;
  }
}
@media only screen and (min-width: 1168px) {
  .ingredients-list {
    --items: 4;
    --row-indent: 24px;
  }
}
.ingredients-item {
  padding: 32px 28px 28px;
  /* padding: 28px 23px; */
  border: 1px solid transparent;
  border-radius: 15px;
}
/* a * n + b */
.ingredients-item:nth-child(2n) {
  border-color: rgb(var(--accent-cl));
}
.ingredients-item:nth-child(4n + 1) {
  background-color: rgb(var(--accent-cl));
  color: rgb(var(--white-cl));
}
.ingredients-item:nth-child(4n + 3) {
  background-color: rgb(var(--dark-cl));
  color: rgb(var(--white-cl));
}
@media only screen and (max-width: 767px) {
  .ingredients-item:nth-last-child(-n + 3) {
    display: none;
  }
}
.ingredients-ill {
  margin: 0 auto;
}
.ingredients-caption {
  margin-top: 16px;
  font-size: 14px;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (min-width: 1168px) {
  .ingredients-caption {
    margin-top: 36px;
  }
}
/* #endregion ingredients */

/* #region Made */
.made {
}
.made-title {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left {
  flex-shrink: 0;
  border-radius: 15px;
  overflow: hidden;
}
.made-img {
}
.made-caption {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
.made-right {
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}
.made-list {
  /* display: flex;
  flex-direction: column;
  gap: 24px; */
}
.made-item {
  display: flex;
  gap: 8px;

  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}
.made-item::before {
  content: '';
  flex-shrink: 0;
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 5px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
/* .made-item {
  margin-bottom: 24px;
}
.made-item:last-child {
  margin-bottom: 0;
} */
.made-item:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion Made */

/* #region Products */
.products {
}
.products-title {
}
.products-list {
  --row-indent: 32px;
}
@media only screen and (min-width: 768px) {
  .products-list {
    --items: 2;
    --row-indent: 32px;
    --col0indent: 32px;
  }
}
@media only screen and (min-width: 1168px) {
  .products-list {
    --items: 4;
    --row-indent: 24px;
    --col-indent: 18px;
  }
}
.products-item {
  padding: 32px 20px;
  background: rgb(var(--white-cl));
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  text-align: center;
}
.products-ill {
  margin: 0 auto;
}
.products-name {
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
.products-type {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  color: rgb(var(--primary-cl) / 70%);
}
.products-price {
  padding: 8px 20px;
  font-weight: 600;
  background: rgb(var(--light-cl));
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
/* #endregion Products */

/* #region Bestsellers */
.bestsellers {
}
.bestsellers-title {
}
.bestsellers-list {
  --items: 3;
  --col-indent: 16px;
}
.bestsellers-item {
  background: rgb(var(--white-cl));
}
.bestsellers-wrapper {
  position: relative;
  overflow: hidden;
}
.bestsellers-img {
  border-radius: 15px 15px 0px 0px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: var(--anim-slow);
  transition-property: transform;

  display: flex;
  align-items: center;
  padding: 40px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgb(var(--light-cl));
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  border-radius: 15px 15px 0px 0px;
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}
.bestsellers-desc {
  padding: 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}
/* #endregion Bestsellers */

/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 92px;
}
.reviews-list {
  --items: 3;
  --col-indent: 28px;

  margin-bottom: 50px;
}
.reviews-item {
  padding: 24px;
  padding-top: 56px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: rgb(var(--white-cl));
  box-shadow: 0px 9px 100px 0px rgb(17 17 17 / 3%);
}
.reviews-avatar {
  margin: 0 auto;
  margin-top: -106px;
}
.reviews-author {
  margin-top: 18px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  text-align: center;
  color: rgb(var(--primary-cl) / 70%);
}
.reviews-btn {
  display: block;
  margin: 0 auto;

  animation: heartbeat 6s ease-in-out infinite both;
}
/* #endregion Reviews */

/* #region Footer */
.footer {
  padding: 50px 0;
  background: rgb(var(--dark-cl));
}
.footer-top {
  display: flex;
  gap: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(var(--light-cl) / 10%);
}
.footer-slogan {
  margin-right: auto;
  max-width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgb(var(--white-cl));
}
.footer-caption {
  margin-bottom: 14px;
  font-weight: 500;
  color: rgb(var(--white-cl));
}
.footer-socials {
  --icon-cl: rgb(var(--white-cl));
  --icon-active-cl: rgb(var(--accent-cl));
  --frame-cl: rgb(var(--white-cl) / 10%);
}
.footer-address {
}
.address {
}
.address-list {
}
.address-item:not(:last-child) {
  margin-bottom: 4px;
}
.address-link {
  text-align: center;
  color: rgb(var(--white-cl));

  transition: var(--anim-fast);
  transition-property: color;
}
.address-link:hover,
.address-link:focus {
  color: rgb(var(--accent-cl));
}
.footer-bottom {
  padding-top: 24px;
}
.footer-nav {
  display: flex;
  gap: 24px;
}
.footer-nav-item {
}
.footer-nav-link {
  font-weight: 500;
  line-height: 1.14;
  color: rgb(var(--white-cl));

  transition: var(--anim-fast);
  transition-property: color;
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: rgb(var(--accent-cl));
}
/* #endregion Footer */

/* #region Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--dark-cl) / 45%);
  backdrop-filter: blur(2px);
  transition: var(--anim-slow);
  transition-property: opacity, visibility;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-delay: 600ms;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  transition-delay: 0s;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  max-width: 517px;
  min-height: 600px;
  padding: 40px;
  background: rgb(var(--white-cl));
  border-radius: 15px;
  opacity: 0;
  transition: 600ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition-property: transform, opacity;
  transition-delay: 0s;
}
.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-delay: 400ms;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
.modal-close-icon {
}
.modal-caption {
  max-width: 298px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.modal-form {
}
.modal-form-field {
  margin-bottom: 18px;
}
.modal-form-label {
  display: block;
  margin-bottom: 8px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 68px;
  padding: 22px 62px;
  line-height: 1.71;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;
  transition: var(--anim-fast);
  transition-property: border-color;
}
.modal-form-input:focus {
  border-color: rgb(var(--accent-cl));
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: none;
  stroke: rgba(64, 64, 64, 1);
  transition: var(--anim-fast);
  transition-property: stroke;
}
.modal-form-input:focus + .modal-form-icon {
  stroke: rgb(var(--accent-cl));
}

.modal-form-comment {
  display: block;

  width: 100%;
  height: 137px;
  padding: 22px 24px;
  font-size: 18px;
  letter-spacing: -0.02em;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: transparent;
  resize: none;
  transition: var(--anim-fast);
  transition-property: border-color;
}
.modal-form-comment:focus {
  border-color: rgb(var(--accent-cl));
}
.modal-form-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.modal-form-agreement {
  margin-bottom: 40px;
}
.modal-form-desc {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.modal-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: var(--anim-fast);
  transition-property: border-color, background-color;
}

input[type='checkbox']:checked + .modal-form-desc > .modal-form-checkbox {
  border-color: rgb(var(--accent-cl));
  background-color: rgb(var(--accent-cl));
}
input[type='checkbox']:focus-visible + .modal-form-desc > .modal-form-checkbox {
  box-shadow: 0 0 0 3px rgb(var(--accent-cl) / 25%);
}
.modal-form-checkbox-icon {
}
.modal-form-link {
  color: rgb(var(--accent-cl));
}

/** Checkbox ver.2 */
.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.94874 9.75416C4.38459 9.75416 4.71409 9.58679 4.93724 9.25207L9.76464 1.97696C9.84484 1.85841 9.90411 1.7416 9.94247 1.62654C9.98082 1.50799 10 1.39467 10 1.28658C10 0.986723 9.8954 0.739164 9.68619 0.543906C9.48047 0.345161 9.22594 0.245789 8.92259 0.245789C8.71339 0.245789 8.53556 0.28763 8.38912 0.371312C8.24616 0.451507 8.11018 0.590977 7.98117 0.789722L3.92782 7.15478L1.89854 4.72278C1.67887 4.46824 1.40342 4.34098 1.07218 4.34098C0.761855 4.34098 0.505579 4.44035 0.303347 4.63909C0.101116 4.83784 0 5.08714 0 5.387C0 5.52299 0.0209205 5.652 0.0627615 5.77403C0.108089 5.89258 0.190028 6.01636 0.308577 6.14537L3.00209 9.32006C3.24965 9.60946 3.5652 9.75416 3.94874 9.75416Z' fill='white'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  transition: var(--anim-fast);

  .modal-form-desc:has(&) {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
.custom-checkbox:checked {
  border-color: rgb(var(--accent-cl));
  background-color: rgb(var(--accent-cl));
}
/** Checkbox ver.3 */
.uncheck {
  fill: none;
  stroke: rgba(17, 17, 17, 0.14);
}
.custom-checkbox-icons {
  .check {
    opacity: 0;
    transition: var(--anim-fast);
  }
  .uncheck {
    opacity: 1;
    transition: var(--anim-fast);
  }
}
.custom-checkbox:checked + .custom-checkbox-icons > .check {
  opacity: 1;
}
.custom-checkbox:checked + .custom-checkbox-icons > .uncheck {
  opacity: 0;
}
/* #endregion */

/*
dialog {
  min-width: 400px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 30px;
}
dialog::backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0 0.25);
} */

/* #region Mobile menu */
.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}
/* #endregion */

/* #region Mobile menu*/
.mobile-menu {
  position: fixed;
  inset: 0;
  z-index: var(--mobile-menu-position);
  display: flex;
  flex-direction: column;

  padding: 72px 16px 40px;
  background-color: rgb(var(--white-cl));

  transform: translateX(100%);
  visibility: hidden;
  transition: var(--anim-slow);
  transition-property: transform, visibility;
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
}
.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgb(var(--dark-cl));
  border-radius: 50%;
  background-color: transparent;
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: rgb(var(--dark-cl));
}
.mobile-menu-link.active {
  color: rgb(var(--accent-cl));
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(var(--dark-cl));
}
.mobile-menu-contacts-link.accent {
  color: rgb(var(--accent-cl));
}
.mobile-menu-socials {
  --icon-cl: rgb(var(--white-cl));
  --icon-active-cl: rgb(var(--accent-cl));
  --frame-cl: rgb(var(--primary-cl) / 10%);
  --icon-bg-cl: rgb(var(--accent-cl));
  --icons-gap: 40px;
}
/* #endregion */
